Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

st.font: Fira Mono Nerd Font:pixelsize=16
st.borderpx: 10


! Base2Tone Garden Light (16-color Xresources)

*background: #fbfaf8
*foreground: #1c8217

*color0:  #1e1f1e
*color1:  #bd5d0f
*color2:  #25931f
*color3:  #c96a1d
*color4:  #505350
*color5:  #3fac39
*color6:  #978678
*color7:  #c96a1d
*color8:  #5d605c
*color9:  #4cb946
*color10: #b7aa9f
*color11: #dd843c
*color12: #828782
*color13: #90d98c
*color14: #dbd0c7
*color15: #dba070
